

.dotted-line {
	stroke: #A2B6CB;
	fill: none;
	stroke-width: 2;
	stroke-dasharray: 8,4;
	display: -webkit-box;
}

.navicons {
	margin-left: 10px;
	margin-right: 10px;
}

.blog-content {
	margin-left: 48px;
}

.navbar-custom {
	height: 32px;
	border: 0px;
	background-color: #a2b6cb;
	border-radius: 0px;
	border-top
	color: #222e45;
	text-align: center;
	margin: 1px auto 2px auto;
}

.nav-fcol {
	color:#222e45;
}

.a {
	color:#222e45;
	text-decoration: none;
}

.p {
	color:#b8bfc9;
	text-decoration: none;
}

body {
	background-color: #222e45;
	color: #a2b6cb;
	font-size: 20px;
}

.main-logo {
	margin-top: 20px;
	margin-bottom: 16px;
	text-align: center;
}