.connect-content {
	margin-top: 10px;
	width: 240px;
	font-size:10;
	font-family: "arial";
	font-weight: normal;
	color: #ffffff;
	display: -webkit-box;
}

input {
	height: 20px;
	width: 200px;
}
.search-box {
	height: 20px;
	width: 240px;
	padding-bottom: 0px;
}

.regular-line {
	stroke: #A2B6CB;
	fill: none;
	stroke-width: 4;
	display: -webkit-box;
}

.dotted-line {
	stroke: #A2B6CB;
	fill: none;
	stroke-width: 4;
	stroke-dasharray: 4,8;
	display: -webkit-box;
}

.sub-dotted-line {
	stroke: #637389;
	fill: none;
	stroke-width: 4;
	stroke-dasharray: 4,8;
}


.navicons {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
}

.blog-content {
	margin-left: 48px;
}

.navbar-custom {
	border: 0px;
	background-color: #a2b6cb;
	border-radius: 0px;
	color: #222e45;
	text-align: center;
	vertical-align: middle;
	font-family: "arial";
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;

}

.nav-fcol {
	color:#222e45;
}

.a {
	color:#222e45;
	text-decoration: none;
}

.p {
	color:#b8bfc9;
	text-decoration: none;
}

body {
	background-color: #222e45;
	color: #a2b6cb;
	font-size: 20px;
}

.main-logo {
	margin-top: 20px;
	margin-bottom: 16px;
	text-align: center;
}
