<!DOCTYPE html>
<html>

	<head>
		<!-- STYLING -->
		<link rel="stylesheet" media="screen" href="{{ url_for( 'static',
		filename='bootstrap.min.css') }}">
		<link rel="stylesheet" media="screen" href="{{ url_for( 'static',
		filename='custom.css') }}">

		<title>{{ title }}</title>
	</head>

	<body>
		<div class="container" height="1020" width="700">
			<div class="row">
				<div class="col-sm-12 col-md-12">
				<div class="main-logo">
				<img src="{{ url_for( 'static', filename='logo.png') }}">
				</div>
				</div>
			</div>
			<div class="row">
				<svg class="regular-line" height="2" width="100%">
					<line x1="0" y1="0" x2="100%" y2="0"/>
				</svg>
				<svg class="dotted-line" height="2" width="100%">
					<line x1="0" y1="0" x2="100%" y2="0"/>
				</svg>
			</div>
			<div class="row navbar-custom">
				<div class="col-sm-2 col-md-2"></div>
				<div class="col-sm-1 col-md-1">
					<a href='#' class='navicons'>home</a>
				</div>
				<div class="col-sm-1 col-md-1">
					<a href='reel' class='navicons'>reel</a>
				</div>
				<div class="col-sm-1 col-md-1">
					<a href='scripts' class='navicons'>scripts</a>
				</div>
				<div class="col-sm-1 col-md-1">
					<a href='about' class='navicons'>about</a>
				</div>
				<div class="col-sm-1 col-md-1">
					<a href='cv' class='navicons'>cv</a>
				</div>
				<div class="col-sm-1 col-md-1">
					<a href='contact' class='navicons'>contact</a>
				</div>
				<div class="col-sm-1 col-md-1">
					<a href='contact' class='navicons'>blog</a>
				</div>
				<div class="col-sm-1 col-md-1">
					<a href='contact' class='navicons'>doodles</a>
				</div>
				<div class="col-sm-2 col-md-2"></div>
			</div>
			
			<div class="row">
				<svg class="dotted-line" height="2" width="100%">
					<line x1="0" y1="0" x2="100%" y2="0"/>
				</svg>
				<svg class="regular-line" height="2" width="100%">
					<line x1="0" y1="0" x2="100%" y2="0"/>
				</svg>
			</div>

			<!-- Main Body -->
				<!-- Post Content -->
				<div class="col-md-12" style="height:14px;"></div>
				<div class="col-sm-12 col-md-8">
				<h1>{{ posttitle }}</h1>
				<p>{{ postcontent }}</p>
				</div>

				<!-- Dotted Seperator -->
				<div class="col-md-1" style="width:2px">
					<svg class="sub-dotted-line" height: "100%" width="2px">
						<line x1="0" y1="0" x2="0" y2="100%"/>
					</svg>
				</div>
				<!-- Sidebar -->
				<div class="col-md-3" style="width:240px;">
					<form action="{{ url_for( 'search' ) }}" class="search-box">
							<input type="text" name="search" maxlength="30" />
					<img src="{{ url_for( 'static', filename='mag.png') }}" align="right"/>
					</form>	
					<div class="connect-content">
						<a style="color:#ffffff; font-size:10px;">
							Connect: </a>
					<svg class="sub-dotted-line" height="2px" width="100%" style="color:#637389;">
						<line x1="0" y1="0" x2="100%" y2="0"/>
					</svg>
					</div>
				</div>
	<script src = "{{ url_for( 'static', filename='jquery-1.11.3.min.js') }}">
	</script>
	<script type = 'text/javascript' src = "{{ url_for( 'static', filename='bootstrap.min.js') }}"></script>
	</body>
</html>

