<!DOCTYPE html>
<html>

	<head>
		<!-- STYLING -->
		<link rel="stylesheet" media="screen" href="{{ url_for( 'static',
		filename='bootstrap.min.css') }}">
		<link rel="stylesheet" media="screen" href="{{ url_for( 'static',
		filename='custom.css') }}">

		<title>{{ title }}</title>
	</head>

	<body>
		<div class="main-logo">
			<img src="{{ url_for( 'static', filename='logo.png') }}">
		</div>
		<!-- Navbar -->

		<nav class="navbar navbar-default navbar-custom cusa">
			<div class="container-fluid nav-fcol">
			<div class="navbar-header nav-fcol">
				</button>
			</div>

			<div class="navbar-custom">
				<strong>
				<a href='#'>Home</a>
				<a href='reel'>reel</a>
				<a href='scripts'>scripts</a>
				<a href='about'>about</a>
				<a href='cv'>cv</a>
				<a href='contact'>contact</a>
				<a href='blog'>blog</a>
				<a href='doodles'>doodles</a>
				</strong>
			</div>
		</nav>
	<script src = "{{ url_for( 'static', filename='jquery-1.11.3.min.js') }}">
	</script>
	<script type = 'text/javascript' src = "{{ url_for( 'static', filename='bootstrap.min.js') }}"></script>
	</body>
</html>

