<!DOCTYPE html>
<html>

	<head>
		<!-- STYLING -->
		<link rel="stylesheet" media="screen" href="{{ url_for( 'static',
		filename='bootstrap.min.css') }}">
		<link rel="stylesheet" media="screen" href="{{ url_for( 'static',
		filename='custom.css') }}">

		<title>{{ title }}</title>
	</head>

	<body>
		<div class="main-logo">
			<img src="{{ url_for( 'static', filename='logo.png') }}">
		</div>
		<!-- Navbar -->
		<svg class="dotted-line" height="2" width="100%">
			<line x1="0" y1="0" x2="100%" y2="0"/>
		</svg>
		<nav class="navbar-custom">
				<strong>
				<a href='#' class='navicons'>home</a>
				<a href='reel' class='navicons'>reel</a>
				<a href='scripts' class='navicons'>scripts</a>
				<a href='about' class='navicons'>about</a>
				<a href='cv' class='navicons'>cv</a>
				<a href='contact' class='navicons'>contact</a>
				<a href='blog' class='navicons'>blog</a>
				<a href='doodles' class='navicons'>doodles</a>
				</strong>
		</nav>
		<svg class="dotted-line" height="2" width="100%">
			<line x1="0" y1="0" x2="100%" y2="0"/>
		</svg>
		<div class="blog-content">
			<h1>{{ posttitle }}</h1>
			<p>{{ postcontent }}</p>
		</div>
	<script src = "{{ url_for( 'static', filename='jquery-1.11.3.min.js') }}">
	</script>
	<script type = 'text/javascript' src = "{{ url_for( 'static', filename='bootstrap.min.js') }}"></script>
	</body>
</html>

